<% if user_signed_in? %>
<nav class="flex items-center justify-between flex-wrap bg-red-700 p-6">
  <div class="flex items-center flex-shrink-0 text-white mr-6">
    <%= link_to 'Recipe App', "/foods", class:"font-semibold text-xl tracking-tight" %>
  </div>
  <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
    <div class="text-sm lg:flex-grow">
      <%= link_to 'Recipes', "/recipes", class:"block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4" %>
      <%= link_to 'Food', "/foods", class:"block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4" %>
      <%= link_to 'Public Recipes',"/public_recipes", class:"block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4" %>
    </div>
    <div>
      <%= button_to 'Logout', destroy_user_session_path, class:"inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-red-700 hover:bg-white mt-4 lg:mt-0",  method: :delete, data:{turbo:false} %>
    </div>
  </div>
</nav>
  <% end %>
 


